In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the the worldbank dataset 
world_bank_data = pd.read_csv("data/World_Bank_Data_Enhanced.csv") #data/World_Bank_Data_Enhanced.csv

In [3]:
world_bank_data.head(20)

,Country Name,Country Code,Series Name,Series Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,39.994,40.518,41.082,40.086,38.844,39.258,...,62.27,62.646,62.406,62.443,62.941,61.454,60.417,65.617,66.035,..
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,413.757894705303,..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,10.10534763,11.81859016,12.62081718,14.20841885,14.83131981,15.53361416,21.508461,23.0881691,..,..
3,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,59.91960526,61.37234497,66.82388306,71.22509003,74.0642395,80.0892334,81.52112579,80.6516037,..,..
4,Afghanistan,AFG,"Current education expenditure, total (% of tot...",SE.XPD.CTOT.ZS,..,..,..,..,..,..,...,80.4073333740234,..,..,..,..,..,..,..,..,..
5,Afghanistan,AFG,"Population, total",SP.POP.TOTL,12773954,13059851,13340756,13611441,13655567,13169311,...,33831764,34700612,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492
6,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.542,7.561,7.591,7.599,7.612,7.643,...,5.652,5.542,5.433,5.327,5.238,5.145,5.039,4.932,4.84,..
7,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,207.5,204.1,200.4,196.6,192.9,188.8,...,64.2,62.3,60.4,58.6,56.9,55.3,53.6,52,50.4,..
8,Afghanistan,AFG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,90.9672209131238,91.6743266335102,92.3750674680591,93.0651831676898,93.747143749577,94.4517656835338,...,94.6132337112821,92.8898712202104,91.2936186853936,89.8496059758101,88.5120276122222,87.2478169146763,86.0834681804276,84.9624893289139,83.8361728436287,82.7768483158234
9,Afghanistan,AFG,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,..,..,..,..,..,..,...,73.4908176326415,72.7659101386992,65.8623470043896,67.2271774798558,58.3308722306744,46.0870936659706,..,..,..,..
10,Afghanistan,AFG,Carbon dioxide (CO2) emissions from Industrial...,EN.GHG.CO2.IP.MT.CE.AR5,0.1996,0.2592,0.2558,0.2372,0.2199,0.2194,...,0.2199,0.2395,0.2338,0.246,0.2473,0.1011,0.0885,0.088,0.0879,..
11,Afghanistan,AFG,"Physicians (per 1,000 people)",SH.MED.PHYS.ZS,..,..,..,..,..,..,...,0.291,0.284,0.245,0.304,0.214,0.254,..,..,..,..
12,Afghanistan,AFG,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,..,..,..,..,..,..,...,0.44,0.45,0.42,0.4,0.38,0.34,0.36,..,..,..
13,Afghanistan,AFG,Gini index,SI.POV.GINI,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
14,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,..,..
15,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.12,68.57,68.992,69.367,69.617,69.903,...,78.358,78.643,78.9,79.238,79.467,77.824,76.844,78.769,79.602,..
16,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,590.607738430529,...,3981.72662261867,4168.37544462548,4614.0479692596,5365.48880180298,5460.4305086932,5370.77749956875,6413.28280828537,6846.42669381643,8575.17134637222,10011.6279856667
17,Albania,ALB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,6.46411896,6.7293272,6.57848787,6.66844559,6.86214113,7.50389433,7.39913177,6.19368076,..,..
18,Albania,ALB,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,253.93347168,275.43676758,295.52346802,349.21127319,366.34014893,396.17477417,465.57043457,414.35025024,..,..
19,Albania,ALB,"Current education expenditure, total (% of tot...",SE.XPD.CTOT.ZS,..,..,..,..,..,..,...,91.9454193115234,91.6376113891602,91.7005386352539,93.8843688964844,86.8448181152344,88.5907974243164,91.5721435546875,89.3625717163086,82.4923629760742,..

The data is in wide format. All the years and indicators data are spread across the data frame. We need to restructure the indicator data and year into long format. 

Which mean we will change the following data wide format 

Country Name | Country Code | Series Name | Series Code | 1960 | 1961 | .... | Value 

into 

Country Name | Country Code | Series Name | Series Code | Year | Value

In [4]:
world_bank_data_long = world_bank_data.melt(id_vars=["Country Name","Country Code", "Series Name", "Series Code"], 
                  var_name="Year", value_name="Value")

In [5]:
world_bank_data_long.head(20)

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975 [YR1975],39.994
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1975 [YR1975],..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,1975 [YR1975],..
3,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,1975 [YR1975],..
4,Afghanistan,AFG,"Current education expenditure, total (% of tot...",SE.XPD.CTOT.ZS,1975 [YR1975],..
5,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1975 [YR1975],12773954
6,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1975 [YR1975],7.542
7,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1975 [YR1975],207.5
8,Afghanistan,AFG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1975 [YR1975],90.9672209131238
9,Afghanistan,AFG,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,1975 [YR1975],..
10,Afghanistan,AFG,Carbon dioxide (CO2) emissions from Industrial...,EN.GHG.CO2.IP.MT.CE.AR5,1975 [YR1975],0.1996
11,Afghanistan,AFG,"Physicians (per 1,000 people)",SH.MED.PHYS.ZS,1975 [YR1975],..
12,Afghanistan,AFG,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,1975 [YR1975],..
13,Afghanistan,AFG,Gini index,SI.POV.GINI,1975 [YR1975],..
14,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1975 [YR1975],..
15,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975 [YR1975],68.12
16,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1975 [YR1975],..
17,Albania,ALB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,1975 [YR1975],..
18,Albania,ALB,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,1975 [YR1975],..
19,Albania,ALB,"Current education expenditure, total (% of tot...",SE.XPD.CTOT.ZS,1975 [YR1975],..

In [6]:
# world_bank_data_long[world_bank_data_long['Country Name'] == 'Afghanistan']
df_world = world_bank_data_long.copy()

In [7]:
# check the info of the dataframe
df_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163000 entries, 0 to 162999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Country Name  162850 non-null  object
 1   Country Code  162750 non-null  object
 2   Series Name   162750 non-null  object
 3   Series Code   162750 non-null  object
 4   Year          163000 non-null  object
 5   Value         162750 non-null  object
dtypes: object(6)
memory usage: 7.5+ MB

In [8]:
# check the basic statics
df_world.describe()

,Country Name,Country Code,Series Name,Series Code,Year,Value
count,162850,162750,162750,162750,163000,162750
unique,219,217,15,15,50,72375
top,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975 [YR1975],..
freq,750,750,10850,10850,3260,58497

In [9]:
# print out the first 3 rows 
df_world.head(3)

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975 [YR1975],39.994
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1975 [YR1975],..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,1975 [YR1975],..

In the Year column, the year are in format like 1975 [YR1975]. We only want 1975 as year and in int data type. We will extract those values from the Year column.

In [10]:
# df_world['Year'] = df_world['Year'].str.extract(r'\d{4}').astype(int)
# extrac the year from the Year column and change to integer data type
df_world['Year'] = df_world['Year'].str.extract(r'(\d{4})').astype(int)
df_world.head(3)

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975,39.994
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,1975,..

In [11]:
# check the Year column data type
df_world['Year'].dtype

dtype('int64')

In addition, inside Value column the missing values are stated as ".." which is not a good format. These are error prone place holders and will lead to issue when we tried to train the model. Therefore, we will replace them with NaN then we will change to numeric because most of the values are numeric.

In [12]:
# replace the .. with NA
df_world['Value'] = df_world['Value'].replace('..', pd.NA)
# change the value column to numerical values
df_world['Value'] = pd.to_numeric(df_world['Value'], errors='coerce')

In [13]:
# check the first 3 rows of Value column
df_world['Value'].head(3)

0    39.994
1       NaN
2       NaN
Name: Value, dtype: float64

In [14]:
# check the value column datatype
df_world.Value.dtype

dtype('float64')

In [15]:
# display the first 5 rows
df_world.head(5)

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975,39.994
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1975,NaN
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,1975,NaN
3,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,1975,NaN
4,Afghanistan,AFG,"Current education expenditure, total (% of tot...",SE.XPD.CTOT.ZS,1975,NaN

In [16]:
# check the rows and columns
df_world.shape

(163000, 6)

Currently, the values and years are in each line which is not so favourable. For example, there are 11 indicators collected now and in each year there will be 11 values for each indicators. If the country's data is accessible from 1960 to 2025 there will be 715 rows for a country. There are 266 countries and the no. of rows will be explode to 190,190 which is not so feasiable. Therefore, we need to transform the data into columnar format. 

From this - 

| Country Name | Country Code | Series Name | Series Code | Year | Value |
| ------------ | ------------ | ----------- | ----------- | ---- | ----- |
| Afghanistan  | AFG          | GDP per capita (current US$)| NY.GDP.PCAP.CD | 1960 | NaN |
| Afghanistan  | AFG          | Current health expenditure (% of GDP) | SH.XPD.CHEX.GD.ZS | 1960 | NaN |

To this -

| Country Name | Country Code | Year | GDP per capita | Current health expenditure |
| ------------ | ------------ | ---- | -------------- | -------------------------- |
| Afghanistan  | AFG          | 1960 | NaN            | NaN                        |

Note: the remaining rows will be transformed into columns as above.

In [ ]:
# select indicators to kee 
keep_codes = [
    'SP.DYN.LE00.IN',          # Life expectancy at birth, total (years)
    'NY.GDP.PCAP.CD',          # GDP per capita (current US$)
    'SH.XPD.CHEX.GD.ZS',       # Current health expenditure (% of GDP)
    'SH.XPD.CHEX.PC.CD',       # Current health expenditure per capita (current US$)
    'SE.XPD.CTOT.ZS',          # Current education expenditure, total (% of total expenditure in public institutions)
    'SP.POP.TOTL',             # Population, total
    'SP.DYN.TFRT.IN',          # Fertility rate, total (births per woman)
    'SP.DYN.IMRT.IN',          # Mortality rate, infant (per 1,000 live births)
    'SP.POP.DPND',             # Age dependency ratio (% of working-age population)
    'EN.ATM.PM25.MC.M3',       # PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)
    'SH.MED.PHYS.ZS',          # no. of Physicians (per 1,000 people)
    'SH.MED.BEDS.ZS',          # no. of Hospital beds (per 1,000 people)
    'SI.POV.GINI',             # Gini index - Distribution of income (0 = perfect equality, 100 = perfect inequality)
    'EG.CFT.ACCS.ZS'           # Access to clean fuels and technologies for cooking (% of population)
]
# extract the inicators
df_world = df_world[df_world['Series Code'].isin(keep_codes)]

In [18]:
# pivot the series into columnar format
df_world_wide = (
    df_world.pivot_table(
        index=['Country Name','Country Code','Year'],
        columns='Series Code',
        values='Value',
    )
    .reset_index()
)

In [19]:
# name mapping
name_map = {
    'SP.DYN.LE00.IN': 'life_expectancy',
    'NY.GDP.PCAP.CD': 'gdp_per_capita_usd',
    'SH.XPD.CHEX.GD.ZS': 'health_exp_pct_gdp',
    'SH.XPD.CHEX.PC.CD': 'health_exp_pc_usd',
    'SE.XPD.CTOT.ZS': 'edu_exp_pct_public',
    'SP.POP.TOTL': 'population',
    'SP.DYN.TFRT.IN': 'fertility_rate',
    'SP.DYN.IMRT.IN': 'infant_mortality',
    'SP.POP.DPND': 'age_dependency_ratio',
    'EN.ATM.PM25.MC.M3': 'pm_2_5',
    'SH.MED.PHYS.ZS': 'aval_physicians',          
    'SH.MED.BEDS.ZS': 'hospital_beds',         
    'SI.POV.GINI': "income_distribution",            
    'EG.CFT.ACCS.ZS': 'access_to_clean_fuels_to_cook'           
    
}

In [20]:
# sort the index with country name and year
df_world = df_world_wide.rename(columns=name_map).sort_values(['Country Name','Year'])

In [21]:
# display the first 5 rows
df_world.head(5)

Series Code,Country Name,Country Code,Year,access_to_clean_fuels_to_cook,pm_2_5,gdp_per_capita_usd,edu_exp_pct_public,hospital_beds,aval_physicians,health_exp_pct_gdp,health_exp_pc_usd,income_distribution,infant_mortality,life_expectancy,fertility_rate,age_dependency_ratio,population
0,Afghanistan,AFG,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207.5,39.994,7.542,90.967221,12773954.0
1,Afghanistan,AFG,1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204.1,40.518,7.561,91.674327,13059851.0
2,Afghanistan,AFG,1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.4,41.082,7.591,92.375067,13340756.0
3,Afghanistan,AFG,1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.6,40.086,7.599,93.065183,13611441.0
4,Afghanistan,AFG,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.9,38.844,7.612,93.747144,13655567.0

In [22]:
df_world.tail()

Series Code,Country Name,Country Code,Year,access_to_clean_fuels_to_cook,pm_2_5,gdp_per_capita_usd,edu_exp_pct_public,hospital_beds,aval_physicians,health_exp_pct_gdp,health_exp_pc_usd,income_distribution,infant_mortality,life_expectancy,fertility_rate,age_dependency_ratio,population
10845,Zimbabwe,ZWE,2020,30.5,19.49418,1730.453910,NaN,NaN,0.189,2.954401,51.142506,NaN,44.9,61.530,3.754,84.384381,15526888.0
10846,Zimbabwe,ZWE,2021,30.5,NaN,1724.387271,NaN,NaN,NaN,2.785717,63.511448,NaN,43.6,60.135,3.765,83.384953,15797210.0
10847,Zimbabwe,ZWE,2022,30.8,NaN,2040.546587,NaN,NaN,0.166,3.628807,70.663139,NaN,42.2,62.360,3.767,82.547605,16069056.0
10848,Zimbabwe,ZWE,2023,NaN,NaN,2156.034093,NaN,NaN,NaN,NaN,NaN,NaN,40.6,62.775,3.724,81.625352,16340822.0
10849,Zimbabwe,ZWE,2024,NaN,NaN,2656.409377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.100412,16634373.0

In [23]:
# rename the index
df_world.columns.name = None

In [24]:
# rename the first three columns into lower case
df_world = df_world.rename(columns={
    'Country Name': 'country_name',
    'Country Code': 'country_code',
    'Year': 'year'
})

In [26]:
# check the rows and columns
df_world.shape

(10850, 17)

In [27]:
# display the first 5 rows
df_world.head(5)

,country_name,country_code,year,access_to_clean_fuels_to_cook,pm_2_5,gdp_per_capita_usd,edu_exp_pct_public,hospital_beds,aval_physicians,health_exp_pct_gdp,health_exp_pc_usd,income_distribution,infant_mortality,life_expectancy,fertility_rate,age_dependency_ratio,population
0,Afghanistan,AFG,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207.5,39.994,7.542,90.967221,12773954.0
1,Afghanistan,AFG,1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204.1,40.518,7.561,91.674327,13059851.0
2,Afghanistan,AFG,1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.4,41.082,7.591,92.375067,13340756.0
3,Afghanistan,AFG,1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.6,40.086,7.599,93.065183,13611441.0
4,Afghanistan,AFG,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.9,38.844,7.612,93.747144,13655567.0

In [28]:
# display the last 5 rows 
df_world.tail(5)

,country_name,country_code,year,access_to_clean_fuels_to_cook,pm_2_5,gdp_per_capita_usd,edu_exp_pct_public,hospital_beds,aval_physicians,health_exp_pct_gdp,health_exp_pc_usd,income_distribution,infant_mortality,life_expectancy,fertility_rate,age_dependency_ratio,population
10845,Zimbabwe,ZWE,2020,30.5,19.49418,1730.453910,NaN,NaN,0.189,2.954401,51.142506,NaN,44.9,61.530,3.754,84.384381,15526888.0
10846,Zimbabwe,ZWE,2021,30.5,NaN,1724.387271,NaN,NaN,NaN,2.785717,63.511448,NaN,43.6,60.135,3.765,83.384953,15797210.0
10847,Zimbabwe,ZWE,2022,30.8,NaN,2040.546587,NaN,NaN,0.166,3.628807,70.663139,NaN,42.2,62.360,3.767,82.547605,16069056.0
10848,Zimbabwe,ZWE,2023,NaN,NaN,2156.034093,NaN,NaN,NaN,NaN,NaN,NaN,40.6,62.775,3.724,81.625352,16340822.0
10849,Zimbabwe,ZWE,2024,NaN,NaN,2656.409377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.100412,16634373.0

In [29]:
# save the dataset
df_world.to_csv('data/world_bank_data_cleaned.csv')

Explore other dataset.

In [30]:
# take a look into world happiness report
df_2015 = pd.read_csv('data/World Happiness Report/2015.csv')
df_2015.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [31]:
# take a look into world happiness report
df_2024 = pd.read_csv('data/World Happiness Report 2024/World-happiness-report-2024.csv')
df_2024.head(5)

,Country name,Regional indicator,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,Western Europe,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,Western Europe,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,Western Europe,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,Middle East and North Africa,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,2.298